
# TensorFlow preferred device; see https://www.tensorflow.org/guide/gpu
# basic options are; '/cpu:0': the CPU of your machine, or '/GPU:0': Short-hand notation for the first GPU of your machine that is visible to TensorFlow.
# setting auto will pick the available device with the most memory
modelling_device: /cpu:0

# results folder
results_path_root: ./results

# specify the model to run, the name of an entry in the models list
run_model: my_child_model

defaults:
  # default settings, all may be over written for a particular model by specifying the value in the model config
  # path to the photo dataset csv file
  dataset_path: ./path/to/photo_dataset.csv
  # specify the limit for the number of photos; none or an integer
  photo_limit: none
  # path to the photos folder
  photo_path: ./path/to/photos
  # number of target classes in photo dataset csv file
  class_count: 9
  # number of epochs to run a model
  epochs: 15
  # image width & height
  image_width: 150
  image_height: 100
  # column in photo dataset csv file that contains the filenames
  x_col: photo_file
  # column in photo dataset csv file that contains the target data
  y_col: stars
  # one of "grayscale", "rgb", "rgba". Whether the images will be converted to have 1 or 3 color channels
  color_mode: rgb
  # Size of the batches of data
  batch_size: 32
  # random seed for shuffling and transformations
  seed: 42
  # Fraction of images reserved for validation (strictly between 0 and 1).
  validation_split: 0.25
  # default template for results folder for each model; 'results_path_root/model_name/YYMMDD_HHMM'
  results_path: <results_path_root>/<model_name>/{%y%m%d_%H%M}

  # rescaling factor. Defaults to None. If None or 0, no rescaling is applied, otherwise we multiply the data by the value provided (after applying all other transformations).
  # Note: eval() is used to evaluate if a string expression is supplied; e.g. '1./255.' = 0.00392156862745098
  rescale: 1./255.

models:
  - name: my_parent_model
    desc: Parent model
    # function from models package to call
    function: model_processing_function
    # display val & loss graph when finished
    show_val_loss: false
    # save val & loss graph when finished
    save_val_loss: true
    # save model summary when finished
    save_summary: true
  - name: my_child_model
    desc: Child model
    parent: my_parent_model

    # Boolean. Randomly flip inputs horizontally.
    horizontal_flip: true
    # Int. Degree range for random rotations.
    rotation_range: 45
    # Float or
    # TODO [lower, upper]. Range for random zoom.
    # If a float, [lower, upper] = [1-zoom_range, 1+zoom_range].
    zoom_range: 0.5
    # Float, 1-D array-like or int
    # float: fraction of total width, if < 1, or pixels if >= 1. e.g. width_shift_range=0.5 or width_shift_range=1.0 possible values are floats in the interval [-1.0, +1.0)
    # TODO 1-D array-like: random elements from the array. e.g. width_shift_range=[-1, 0, +1]
    # int: integer number of pixels from interval (-width_shift_range, +width_shift_range) e.g. width_shift_range=2 possible values are integers [-1, 0, +1]
    width_shift_range: 0.15
    # Float, 1-D array-like or int
    # float: fraction of total height, if < 1, or pixels if >= 1. e.g. height_shift_range=0.5 or height_shift_range=1.0 possible values are floats in the interval [-1.0, +1.0)
    # TODO 1-D array-like: random elements from the array. e.g. height_shift_range=[-1, 0, +1]
    # int: integer number of pixels from interval (-height_shift_range, +height_shift_range) e.g. height_shift_range=2 possible values are integers [-1, 0, +1]
    height_shift_range: 0.15
    # Float. Shear Intensity (Shear angle in counter-clockwise direction in degrees)
    shear_range: 0.0
    # Boolean. Set input mean to 0 over the dataset, feature-wise.
    featurewise_center: false
    # Boolean. Set each sample mean to 0.
    samplewise_center: false
    # Boolean. Divide inputs by std of the dataset, feature-wise.
    featurewise_std_normalization: false
    # Boolean. Divide each input by its std.
    samplewise_std_normalization: false
    # epsilon for ZCA whitening. Default is 1e-6.
    zca_epsilon: 1e-6
    # Boolean. Apply ZCA whitening.
    zca_whitening: false
